* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 40px;
}
.filters {
  max-width: 1600px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  max-width: 1600px;
  margin: 30px auto;
  padding: 20px;
  display: grid;
  gap: 20px;

  /* Grid adaptable al tamaño del dispositivo */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: #555;
}

.card .price {
  margin-top: 10px;
  font-weight: bold;
  color: #0078ff;
  font-size: 1.1rem;
}

.card-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

/* Botón Editar */
.btn-edit {
  background-color: #56c567;
  color: white;
}

.btn-edit:hover {
  background-color: #418f4d;
}

/* Botón Eliminar */
.btn-delete {
  background-color: #ab2828;
  color: white;
}

.btn-delete:hover {
  background-color: #962323;
}

.filters .button {
  cursor: pointer;
  background-color: #0078ff;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.button.remove {
  background-color: red;
}
.button.filter {
  background-color: rgb(71, 255, 230);
  color: black;
}
